.calender {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxmain {
  width: 90rem;
  height: 50rem;
  padding: 0.7rem;
  margin-left: 1rem;
  border: 1px solid blue;
}
.boxheader {
  display: flex;
  margin-bottom: 0.7rem;
  justify-content: space-between;
  align-items: center;
}
.boxheader button {
  font-size: 1.4rem;
  cursor: pointer;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(7, auto);
  font-size: 2.8rem;
  gap: 5px;
}
.box {
  height: 8rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box.empty {
  background-color: #e0e0e0;
  cursor: default;
}
.box.selected {
  background-color: blue;
  color: white;
}
