.container{
  height:100vh;
  width:100vw;
  background: #ffffff;
  /* padding: .8vw; */
}
.header{
  height: 8%;
  width: 100%;
  background: #ffffff;
}
.main{
  height: 88%;
  width: 100%;
  display: flex;
}
.main .left{
  height: 100%;
  width: 300px;
  background: #2f4050;
}
.main .right{
  height: 100%;
  width: 100%;
  background: #12cc94;
}
.footer{
  background: #000;
  height: 4%;
  width: 100%;
  color: #ffffff;
}