.container {
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  /* padding: .8vw; */
  /* display:flex ; */
}
.header {
  height: 8%;
  width: 100%;
  background: #ffffff;
}
.main {
  height: 88%;
  width: 100%;
  display: flex;
}
.main .left {
  height: 100%;
  width: 300px;
  background: #2f4050;
}
.main .right {
  height: 100%;
  width: 100%;
  background: #12cc94;
  align-items: center;
  justify-content: center;
  display: flex;
}
.footer {
  background: #000;
  height: 4%;
  width: 100%;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}



.boxe {

  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  margin: auto auto;
  padding: 18px;
  position: absolute;
  top: 50%;
  left: 57%;
 width:34%;
  transform: translate(-50%, -50%);


}

.boxe h2 {
  margin: 0 0 20px 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

.boxe .inputBox label {
  color: #fff;
}

.boxe .inputBox input {
  background: transparent!important;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  outline: none;
  padding: 10px 0;
  width: 100%;
 
}
.boxe label{
  font-size: 20px;
}
.boxe input[type="submit"],
.boxe button[type="submit"],
a.button {
  font-family: sans-serif;
  background: #03a9f4;
  font-size: 11px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 5px;
  letter-spacing: 2px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2px 10px 2px 0;
  display: inline-block;
 


}


.boxe input[type="submit"]:hover,
.boxe button[type="submit"]:hover,
a.button:hover {
  opacity: 0.8;
} 


