.container {
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  /* padding: .8vw; */
  /* display:flex ; */
}
.header {
  height: 8%;
  width: 100%;
  background: #ffffff;
}
.main {
  height: 88%;
  width: 100%;
  display: flex;
}
.main .left {
  height: 100%;
  width: 300px;
  background: #2f4050;
}
.main .right {
  height: 100%;
  width: 100%;
  background: #12cc94;
  align-items: center;
  justify-content: center;
  display: flex;
}
.footer {
  background: #000;
  height: 4%;
  width: 100%;
  color: #ffffff;
}
/* /////////////////////////------------------- REGISTER LOGIN COMPLAIN PAGE CSS START------------------///////////////////////////////////////////////////////// */
* {
  box-sizing: border-box;
}



.boxe {

  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  margin: auto auto;
  padding: 15px 25px 85px ;

  position: relative;
  margin-top: 140%;
  
margin-left: 25%;
 width:150%;
  transform: translate(-50%, -50%);


}
.boxe .validation-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px; 
  font-size: 17px;
  color: #f6e9e9;
}
.boxe .validation-icon.error {
  color: #e6153f;
  
}

.boxe .validation-icon.success {
  color: #09c372;
}
.boxe h2 {
  margin: 0 0 20px 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

.boxe .inputBox label {
  color: #fff;
}

.form-error {
 
  color: red; 
  font-size: 14px;
  margin-top: 0px; 
}
.boxe .inputBox {
  position: relative;
margin-bottom: 3px;


}
.boxe .inputBox input {
  background: transparent!important;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  outline: none;
  padding: 7px 0;
  width: 90%;
 

 
}
.boxe .inputBox input:focus{
  outline: 0;
}


.boxe .inputBox .validation-icon {
  
 
  top: 50%;
  transform: translateY(-70%);
  padding: 10px;
}

.boxe i{
  font-size: 17px;
  
}



form div i {
  position: absolute;
  padding: 10px;
  margin-top: 8px;
  padding-right:10px;
 
}
.far fa-check-circle success-icon{
  margin-right: 100px;
}

.boxe label{
  font-size: 20px;
}
.boxe input[type="submit"],
.boxe button[type="submit"],
a.button {
  font-family: sans-serif;
  background: #03a9f4;
  font-size: 12px;
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
 
  letter-spacing: 2px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
margin-top: 20px;

width: 90%;
  display: inline-block;
 


}


.boxe input[type="submit"]:hover,
.boxe button[type="submit"]:hover,
a.button:hover {
 
  opacity: 0.8;
} 


/* /////////////////////////////////////////////////----------------REGISTER LOGIN COMPLAIN PAGE CSS END-------------------------/////////////////////////// */