.link{
    text-decoration: none;
}
.cards{
    display: flex;
    justify-content:center;
    align-items:center;
    height:320px;
    width:320px;
    font-size: 35px;
    font-weight: 700;
    color:#fff;
    text-decoration:dashed;
    background: #5c02a5;
    border-radius: 20px;
    box-shadow:2px 2px 10px #000;
    transition: all .5s ;
}
.cards:hover{
    transform: scale(1.05);
    background: #280147;
}
 