* {
  margin: 0;
}
.nav-main {
  height: 100%;
  width: 100%;
  display: flex;
  background: #2f4050;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  
}
.nav-search {
  height: 85%;
  width: 100%;
  margin-left: 30%;
}
:root {
  --rad: 30px;
  --dur: 0.3s;
  --color-dark: #d8cfcf;
  --color-light: #0a0c3ae1;
 
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
 
}
 body {
  background: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}
html {
  box-sizing: border-box; 
  height: 100%; 
  font-size: 10px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.nav-main form {
  
  position: relative;
  width: 65rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
.nav-main input,
button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}
.nav-main input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.nav-search button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
.nav-main input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
  + button {
    display: block;
  }
}
 .nav-main label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.profile{
  margin-right: 20px; ;
}
.profile-pic:hover{
  cursor: pointer;
}
